* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer, .push {
	height: 4em;
}
.section-innercontainer .form-group .h6{
	margin-top: 0px;
	margin-bottom: 0px;
}
.section-innercontainer .form-group {
	margin-bottom: 5px;
}

/* HEADER */
.header {
	height: 120px;
}
.header > div{
	height: 100%;
}

.logo{
	width: 100%;
}
.rel-info > .list-group-item{
	padding: 4px 15px;
}
.rel-info > .list-group-item{
	border-left: 0px;
	border-right: 0px;
}
.rel-info > .list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: 0px;
}
.rel-info > .list-group-item:first-child {
	margin-bottom: 0;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
}
/* END HEADER */


/* Cell Properties */
.cell-inner-container{
	height: 100%;
	width: 100%;
}

.section-innercontainer{
	width: 100%;
	padding: 5px;
	background-color: #EEE;
}

.cell-body{
	
}

/* MISC */
.indent {
	padding-left: 5px;
}

.bump-top{
	margin-top: 10px;
}
.main-inner-container{
	height: 100%;
	padding-top: 10px;
}

.inline-width-50{
	display: inline-block !important;
	width: 50%
}