@CHARSET "UTF-8";

body
{
 behavior:url("csshover3.htc");
}
.datasource_plugin_config,.itemprocessor_plugin_config,.general_plugin_config
{
	clear:both;
}


ul.formline
{
	width:100%;
	padding-left:0px;
	clear:both;
	height:24px;
}

ul.formline li
{
	padding-left:0px;
	margin-left:0px;
	float:left;
	list-style: none;
	
}
ul.formline li.label
{
	text-align: left;
	width:200px;
	padding-top:4px;
}

ul.formline li.value
{
	float:left;
}

.col
{
	border:1px solid #cccccc;
	font-size: small;
	margin-top:3px;
	margin-bottom:5px;
}

.col h3
{
	background-color: #cccccc;
	line-height: 1.3em;
}

.fieldinfo
{
	font-size:x-small;
	color:#0000cc;
}

input[type=text]
{
	border:1px solid #888888;
}

input[type=password]
{
	border:1px solid #888888;
}

body
{
	font-family: sans-serif;
}

div.title
{
 width:100%;
 position:relative;
 height:120px;
 background-color:#ffffff;
}

.title .logo
{
 	float:left;
 	height:120px;
	width:340px;
	background:url("../images/logo.png") no-repeat transparent;
	background-color:#ffffff;
}

.title  .logoauth
{
	position:absolute;
	top:104px;
	left:5px;
	font-size:xx-small;
}

.title .info
{
 float:left;
 /*width:598px;*/
 border: 1px solid #8888cc;
 height:100%;
}

.title .info h3
{
	background-color:#8888cc;
	width:100%;
	color:#ffffff;
}

.title  .author
{
	width:100%;
	float:right;
	font-size:12pt;
}

.title .license .hover
{
 display:none;
}


.title .license a:hover .hover
{
 font-family:monospace;
 display:block;
 z-index:200;
 background:#ffffcc;
 border:1px solid #000000;
 color:#000000;

}



.title  .version
{
	width:100%;
		float:right;
	font-weight: bold;
}

.subtitle
{
	width:100%;
	line-height: 2em;
	font-size: large;
	background: #8888cc;
	color: #ffffff;
	font-weight: bold;
	margin-top:5px;
}

.saveinfo
{
	float:right;
	font-size: small;
	font-weight:normal;
	padding-right:5px;
}

.actionbutton
{
	border:1px solid #ccccff;
		background:#eeeeff;
	
	text-decoration: none;
	font-size: small;
}
.actionbutton:hover
{
	border:1px solid #8888cc;
	background:#ccccff;
	
}

.error
{
 color:#cc0000;
}

li.value span
{
 padding-top:4px;
 height:16px;
}
span.version
{
	float: right;
	font-weight : normal;
	font-size : medium;
	padding-right: 10px;
}

.log_error,.mgupload_error
{
	border:1px solid #cc0000;
	background: #ff8888;
	color:#000000;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	padding-top:2px;
	padding-bottom:2px;
	
}

.log_standard
{
	font-size: 10pt;
	font-weight: normal;
	padding-top:2px;
	padding-bottom:2px;
	
}

.log_indexing
{
	border:1px solid #0000cc;
	background: #8888ff;
	color:#000000;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	padding-top:2px;
	padding-bottom:2px;
	
}

.log_warning
{
	border:1px solid #cccc00;
	background: #ffff88;
	color:#000000;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	padding-top:2px;
	padding-bottom:2px;
	
}

/*.log_itime,.log_dbtime
{
	border:1px solid #cccccc;
	background: #eeeeee;
	color:#000000;
	text-align: left;
	font-size: 10pt;
	padding-top:2px;
	padding-bottom:2px;
}*/

.log_end
{
	border:1px solid #00cc00;
	background: #88ff88;
	color:#000000;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	padding-top:2px;
	padding-bottom:2px;
	
}
.log_end span
{
	padding-left:5px;
	padding-right:5px;
}

.log_warning span
{
	padding-left:5px;
	padding-right:5px;
}

.log_info,.mgupload_info
{
	border:1px solid #00cc44;
	background: #88ffcc;
	color:#000000;
	text-align: left;
	font-size: 10pt;
	padding-top:2px;
	padding-bottom:2px;
}

.log_end a
{
	color:#000000;
}

.import_params
{
  margin-top:10px;
  line-height: 1.4em;
  border:1px solid #cccccc;
  
}

.import_params h2
{
	background-color: #cccccc;
	line-height: 1.4em;
}
	
.import_running h2
{
	line-height: 1.4em;
}

#import_log
{
  margin-top:10px;
}
#progress_container
{
	position:relative;
	float:right;
	width:300px;
	border:1px solid #888888;
	font-size: small;
	margin-top:0px;
	border-collapse: collapse;
}
#import_progress
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	text-align: center;
	font-weight:normal;
	z-index:200;
}

.section_title
{
	background-color:#cccccc;
	line-height: 1.4em;
	font-weight: bold;
	border:1px solid #cccccc;
	border-collapse: collapse;
	padding-bottom: 2px;
}

#common_config input[type=text],#common_config input[type=password]
{
	width:180px;
}

#common_config ul.formline li.label
{
	width:120px;
	height:18px;
	padding-top:3px;
}

#profile_action li.label
{
	height:18px;
	padding-top:3px;
}


.pluginselect
{
	width:400px;
	clear:both;
	float:left;
}

.pluginselect input[type=checkbox]
{
	margin:0px;
	padding:0px;
	height:20px;
	margin-top:3px;
}

div.plugininfo
{
	float:left;
	position:relative;
	padding-top:2px;
	background-color:#eeeeee;
	height:18px;
	margin-bottom:1px;
}

.pluginname
{
}

div.plugininfo div.plugininfohover
{
	position:absolute;
	top:-9999px;
	left:-9999px;
}

div.plugininfo
{
	width:50px;
	text-align: center;
}

div.plugininfo:hover 
{
background-color:#ccffcc;
}

div.pluginconf
{
 float:left;
 margin-left:10px;
}

div.plugindoc
{
 float:left;
 margin-left:10px;
}

select
{
 border:1px solid #888888;
 background: #ffffff;
}

div.plugininfo:hover div.plugininfohover
{
 width:400px;
 border:1px solid #000000;
 background:#eeeecc;
 top:0px;
 left:100%;
 z-index:200;
}

div.pluginconfpanel
{
 display:none;
}
div.pluginconfpanel.selected
{
	display:block;
	clear:both;
	border:1px solid #888888;
}

#import_current
{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	background-color: #33cc33;
	border:none;
	z-index:20;
}
#runlog
{
	clear:both;
	background-color:#ffffff;
}

#runlog .runtime_info
{
	height:100px;
	overflow:auto;
}

.config_error
{
	margin-top:10px;
	border:1px solid #cc0000;
	background: #ff8888;
	color:#000000;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
}

.scrollbox
{
	height:200px;
	position:relative;
}
.scrollbox_content {
	margin-right: 8px;
}

.scrollbox_scrollbar {
	background-color: silver;
	border-left: solid black 1px;
	height: 100%;
	width: 8px;
}
.scrollbox_handle {
	background-color: #888888;
}

.log_itime table,.log_dbtime table
{
	width:100%;
}
.log_itime table td,.log_dbtime table td
{
	border:1px solid #eeeeee;
}

div.log_warning
{
 clear:both;
}
div.log_error
{
 clear:both;
}

.plugin_description
{
	border: 1px solid #eeeeee;
	background-color:#dddddd;
	margin:2px;
}

.plupload_error,.magmi_error
{
	border:1px #cc0000 solid;
	background-color:#ffaaaa;
	color:#000000;
	font-weight:normal;
}
.magmi_error li
{
	list-style: disc inside;
}
.message
{
	padding-top:4px;
}

.fieldhelp
{
	float:right;
	width:24px;
	height:24px;
	margin-right:4px;
	background: url('fieldhelp.png') transparent no-repeat;
}

div.trace
{
	font-size:small;
	font-family:courier,monospace;
	background-color:#;
	border:1px solid #cc0000;
}
#directrun ul.formline li.label
{
 width:200px;	
}

ul#globstep input[type=text]
{
	 width:100px;
}

ul#globstep.formline li.label
{
	 width:200px;
}

ul#mssep input[type=text]
{
	 width:50px;
}

ul#mssep.formline li.label
{
	 width:250px;
}


li.utility
{
	margin-top:2px;
}
.utility .pluginselect
{
	height:20px;
	vertical-align: middle;
}

.utility .plugininfo
{
	height:20px;
	vertical-align: middle;
}

.utility .utility_run
{
	float:right;
	height:20px;
}

.utility .utility_run a
{
	margin-top:2px;
}

.utility .pluginoptionpanel
{
	clear:both;
}

.separator
{
width:100%;
border:0px;
border-top:1px solid #cccccc;
margin-bottom:5px;
clear:both;
}
.pluginrun_results 
{
	border:1px solid #0000cc;
}

p.logentry
{
 margin:0px;
 padding:0px;
 border-bottom:1px solid #cccccc;
}

.pluginrun_results h3
{
 background-color:#0000cc;
 color:#ffffff;
} 

#overlay {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
	 background:url("../images/white50.png");
}

#overlaycontent {
     width:800px;
     margin: 200px auto;
     background-color: #fff;
     border:1px solid #000;
     text-align:left;
}

div.actionbuttons
{
 width:100%;
 border-top:1px solid #000000;
 margin-top:5px;
 padding-top:5px;
 height:24px;
}

div.actionbuttons a
{
 display:block;
 float:right;
 margin-right:5px;
}

div.changedesc
{
 width:100%;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
 margin-top:5px;
 padding-top:5px;
 padding-bottom:5px;
	
}
